*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}
.btn{
    padding: 18px 35px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
}
.logo h2 {
    font-family: 'Coming Soon', cursive;
    font-size: 45px;
    color: #333;
}
.color-orange {
    color: orange;
    font-weight: bolder;
}
header {
    background-color: #e4c7d4;
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
    /*border: 1px solid red;*/
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 51px;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}
nav .menu li a {
    text-decoration: none;
    color: #474747;
}
#banner {
    /*border: 1px solid red;*/
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content {
    max-width: 585px;
}
#bannar .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 50px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    margin-bottom: 30ox;
}
#banner .banner-image img {
    width: 500px;
    height: auto;
    border-radius: 25%;
    max-width: 585px;
    vertical-align: middle;
    padding-bottom: 10px;
}